@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', monospace;
}

body {
    background-image: url(https://i.ibb.co/HGVHwV1/background.png);
    background-repeat: no-repeat;
    background-size:100%;
    background-size: cover;
}

/* ------------------ HEADER------------------ */
.barra-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(240, 238, 238);
  color: rgba(2, 0, 0, 0.836);
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.barra-nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.836);
}

.barra-nav * {
  margin: 5px;
}

.barra-nav img {
  width: 100%;
  height: 55px;
}

.itens-nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.icone-inicial {
  display: flex;
  align-items: center;
}

.barra-nav button{
  width: 60px;
  height: 40px;
  margin-right: 30px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 10px;
}

/*------------------ MENU ------------------*/
.menu {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
}

.menu button{
  /* background: linear-gradient(90deg, rgba(111,188,255,1) 0%, rgb(127, 218, 85) 100%); */
  background: rgba(111,188,255,1);
  margin-right: 90px;
  margin-top: 5px;
  border: 0;
  height: 65px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}

#toggle {
  -webkit-appearance: none;
          appearance: none;
}

.button {
  position: absolute;
  z-index: 999;
  width: auto;
  height: 65px;
  background: rgba(111,188,255,1) 100%;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 24px;
  overflow: hidden;
  transition: width 300ms linear;
  align-items: center;

  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: rgb(255, 255, 255);
    transform: rotate(225deg);
    transition: all 0.4s ease;
  }
  &:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background:  rgb(255, 255, 255);
    transform: rotate(135deg);
    transition: all 0.4s ease;
  }
}

.nav {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(90deg, rgba(111,188,255,1) 0%, rgb(127, 218, 85) 100%);
  width: 100%;
  border-radius: 5px;
  transform: translateX(10%);
  padding: 10px;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  li {
    opacity: 0;
    list-style: none;
    &:nth-child(1) {
      transform-origin: bottom;
      animation: itop 300ms 200ms linear forwards;
    }
    &:nth-child(2) {
      transform-origin: bottom;
      animation: itop 300ms 300ms linear forwards;
    }
    &:nth-child(3) {
      transform-origin: bottom;
      animation: itop 300ms 400ms linear forwards;
    }
    &:nth-child(4) {
      transform-origin: bottom;
      animation: itop 300ms 500ms linear forwards;
    }
  }
  a {
    transition: all 0.5s linear;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    border-radius: 15px;

    &:hover {
      color:  rgb(0, 158, 0);
      background: rgb(248, 248, 248);
      border-radius: 15px;
    }
  }
}

#toggle:checked ~ label .nav {
  display: none;
  opacity: 0;
  transform: translateX(0);
}

#toggle:checked ~ .button:before {
  transform: rotate(90deg);
}

#toggle:checked ~ .button:after {
  transform: rotate(0deg);
}

#toggle:checked ~ .button {
  width: 70px;
  transition: all 0.1s linear;
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}

@keyframes itop {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.corpopost{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.postagem{
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    min-width: 300px;
    margin: 120px 0 100px 0;
    justify-content: center;
    align-items: center;
}

.postagem h1{
    font-size: 3rem;
    text-align: center;
}

.postagem p{
    font-size: 1rem;
    display: block;
    justify-content: center;
}

.corpo{
  padding: 10px;
}

.corpo img{
    display: flex;
}

.corpo a{
    text-align: center;
}

.postagem img{
    max-width: 400px;
    max-height: 300px;   
    margin: 0 auto;
}

.postagem .gif{
    max-width: 400px;
    max-height: 300px;   
    margin: 0 auto;
}


/*------------------ FOOTER ------------------*/

.footer-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(240, 238, 238);
    color: rgba(2, 0, 0, 0.836);
    font-size: 20px;
    position: fixed;
    width: 100%;
    height: 75px;
    bottom: 0;
    left: 0;
  }
  
  .icone-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    gap:10px
  }
  
  .icone-footer img {
    height: 65px;
    width: 130px;
    gap: 15px;
  }
  
  .itens-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .itens-footer a {
    color: rgba(0, 0, 0, 0.836);
    font-size: 20px;
  }
  
  .itens-footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }