@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', monospace;
}

body {
    background-image: url(https://i.ibb.co/HGVHwV1/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ------------------HEADER----------------------------- */
.barra-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(240, 238, 238);
  color: rgba(2, 0, 0, 0.836);
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.barra-nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.836);
}

.barra-nav * {
  margin: 5px;
}

.barra-nav img {
  width: 100%;
  height: 55px;
}

.itens-nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.icone-inicial {
  display: flex;
  align-items: center;
}

.barra-nav button{
  width: 60px;
  height: 40px;
  margin-right: 30px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 10px;
}

/* ----------------MENU------------------------ */
/* .menu-container {
  position: relative;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 30px;
  margin: 20px;
}

.line {
  height: 4px;
  background: #333;
  margin: 4px 0;
  transition: 0.3s;
}

.nav {
  display: none;
  position: absolute;
  top: 60px; 
  right: 20px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  padding: 10px 20px;
}

.nav ul li a {
  text-decoration: none;
  color: #333;
}

.nav.show {
  display: block;

              <div class="menu">
                <button class="menu-button">Menu</button>
                    <div class="dropdown">
                    <button onclick="redirectTo('setorTI.html')"><i class="fa-solid fa-computer"></i> Tec</button>
                    <button onclick="redirectTo('setorAdm.html')"><i class="fa-solid fa-handshake"></i> Adm</button>
                    <button onclick="redirectTo('setorContasMedicas.html')"><i class="fa-solid fa-money-check-dollar"></i>Contas M.</button>
                    <button onclick="history.back()"><i class="fa-solid fa-rotate-left"></i>Voltar</button> <!-- Botão para voltar ao menu anterior -->
                    <button onclick="redirectTo('index.html')"><i class="fa-solid fa-house"></i>Home</button>
                    </div>
            </div>
            
} */
.menu {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
}

.menu button{
  /* background: linear-gradient(90deg, rgba(111,188,255,1) 0%, rgb(127, 218, 85) 100%); */
  background: rgba(111,188,255,1);
  margin-right: 90px;
  margin-top: 5px;
  border: 0;
  height: 65px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}

#toggle {
  -webkit-appearance: none;
          appearance: none;
}

.button {
  position: absolute;
  z-index: 999;
  width: auto;
  height: 65px;
  background: rgba(111,188,255,1) 100%;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 24px;
  overflow: hidden;
  transition: width 300ms linear;
  align-items: center;

  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: rgb(255, 255, 255);
    transform: rotate(225deg);
    transition: all 0.4s ease;
  }
  &:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background:  rgb(255, 255, 255);
    transform: rotate(135deg);
    transition: all 0.4s ease;
  }
}

.nav {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(90deg, rgba(111,188,255,1) 0%, rgb(127, 218, 85) 100%);
  width: 100%;
  border-radius: 5px;
  transform: translateX(10%);
  padding: 10px;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  li {
    opacity: 0;
    list-style: none;
    &:nth-child(1) {
      transform-origin: bottom;
      animation: itop 300ms 200ms linear forwards;
    }
    &:nth-child(2) {
      transform-origin: bottom;
      animation: itop 300ms 300ms linear forwards;
    }
    &:nth-child(3) {
      transform-origin: bottom;
      animation: itop 300ms 400ms linear forwards;
    }
    &:nth-child(4) {
      transform-origin: bottom;
      animation: itop 300ms 500ms linear forwards;
    }
  }
  a {
    transition: all 0.5s linear;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    border-radius: 15px;

    &:hover {
      color:  rgb(0, 158, 0);
      background: rgb(248, 248, 248);
      border-radius: 15px;
    }
  }
}

#toggle:checked ~ label .nav {
  display: none;
  opacity: 0;
  transform: translateX(0);
}

#toggle:checked ~ .button:before {
  transform: rotate(90deg);
}

#toggle:checked ~ .button:after {
  transform: rotate(0deg);
}

#toggle:checked ~ .button {
  width: 70px;
  transition: all 0.1s linear;
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}

@keyframes itop {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------MENU------------------------ */

.backpage{
  background: rgba(111,188,255,1);
  margin-right: 90px;
  margin-top: 5px;
  border: 0;
  height: 65px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}

.menu {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.menu button{
    background: rgba(111,188,255,1);
    margin-right: 90px;
    margin-top: 5px;
    border: 0;
    height: 65px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
  
  #toggle {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .button {
    position: absolute;
    z-index: 999;
    width: auto;
    height: 65px;
    background: rgba(111,188,255,1) 100%;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 24px;
    overflow: hidden;
    transition: width 300ms linear;
    align-items: center;

    &:before {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      background: rgb(255, 255, 255);
      transform: rotate(225deg);
      transition: all 0.4s ease;
    }
    &:after {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      background:  rgb(255, 255, 255);
      transform: rotate(135deg);
      transition: all 0.4s ease;
    }
  }
  
  .nav {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    background: linear-gradient(90deg, rgba(111,188,255,1) 0%, rgb(127, 218, 85) 100%);
    width: 100%;
    border-radius: 5px;
    transform: translateX(10%);
    padding: 10px;
  
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
    }
    li {
      opacity: 0;
      list-style: none;
      &:nth-child(1) {
        transform-origin: bottom;
        animation: itop 300ms 200ms linear forwards;
      }
      &:nth-child(2) {
        transform-origin: bottom;
        animation: itop 300ms 300ms linear forwards;
      }
      &:nth-child(3) {
        transform-origin: bottom;
        animation: itop 300ms 400ms linear forwards;
      }
      &:nth-child(4) {
        transform-origin: bottom;
        animation: itop 300ms 500ms linear forwards;
      }
    }
    a {
      transition: all 0.5s linear;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 20px;
      width: 52px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px 0 0;
      border-radius: 15px;
  
      &:hover {
        color:  rgb(0, 158, 0);
        background: rgb(248, 248, 248);
        border-radius: 15px;
      }
    }
  }
  
  #toggle:checked ~ label .nav {
    display: none;
    opacity: 0;
    transform: translateX(0);
  }
  
  #toggle:checked ~ .button:before {
    transform: rotate(90deg);
  }
  
  #toggle:checked ~ .button:after {
    transform: rotate(0deg);
  }
  
  #toggle:checked ~ .button {
    width: 70px;
    transition: all 0.1s linear;
  }
  
  @media (max-width: 640px) {
    .container {
      width: 100%;
    }
  }
  
  @keyframes itop {
    0% {
      opacity: 0;
      transform: translateY(60px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* ------------------POST-------------------------- */

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 4%;
}

.posts{
    display: flex;
    flex-direction: column;
    background: rgb(236, 239, 241, 0.5);
    height: 350px;
    width: 500px;
    margin-top: 30px;
    margin-left: 30px ;
    border: 3px solid ;
    border-radius: 15px;
    justify-content: center;
}

/* IMAGENS DO POST */

.posts img{
    height: 95px;
    border: 3px solid;
    margin: 5px 5px 5px 5px;
}

.imagempost{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TEXTO DO POST */

.text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.text h4{
    font-size: 33px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
}

.text span{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    text-align: center;
}


.buttonpage{
    display: flex;
    width: 190px;
    height: 50px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #000000;
    background-color: azure;
    border: 2px solid #000000;
    border-radius: 10px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin-top: 30px;
    margin-bottom: 5px;
    justify-content: center;
  }
  
.buttonpage span{
    position: relative;
    z-index: 2;
  }
  
.buttonpage:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #197ceead;
    transition: all .35s;
    border-radius: 8px;
  }
  
.buttonpage:hover{
    color: #ffffff;
  }
  
.buttonpage:hover:after{
    width: 100%;
  }

 /* PAGINA EM CONSTRUÇÃO */


.paginaemconstrucao img{
    display: flex;
    margin: 100px auto auto auto;
    width: 750px;
    height: 100%;
}

/* ------------------FOOTER-------------------------- */

.footer-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(240, 238, 238);
  color: rgba(2, 0, 0, 0.836);
  font-size: 20px;
  position: fixed;
  width: 100%;
  height: 75px;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.icone-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  gap:10px
}

.icone-footer img {
  height: 65px;
  width: 130px;
  gap: 15px;
}

.itens-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itens-footer a {
  color: rgba(0, 0, 0, 0.836);
  font-size: 20px;
}

.itens-footer a{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}